* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-image: linear-gradient(120deg, #ee9999 0%, #af0202 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}


@media (max-width: 767px) {
  .gpa-form {
    width: 20rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .popup{
    font-size: 1rem;
  }
  .popup-inner{
    max-width: 300px;
    max-height: 700px;
  }

  .gpa-form p{
    padding: 8px;
    font-size: 10px;
  }

  .form input, form button, .close-btn {
  font-size: 1rem;
  }

  .form button {
    padding-bottom: 2px;
  }

  .popup-inner{
    max-width: 300px;
    max-height: 500px;
    padding-top: 0px;
  }
  
  .inner-results{
    padding: 5px;  
  }
  
  .inner-results h3 { 
    font-size: 50px;
    top: -150px;
    margin-bottom: -100px;
  }
}


@media (max-width: 421px) {
  .gpa-form {
    width: 18rem;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .lottie-ed{
    border-radius: 10%;
    width: 75px;
    height: 75px;
  }

  .gpa-form p{
    padding: 8px;
    font-size: 10px;
  }

  .form input, form button, .close-btn {
  font-size: 1rem;
  }

  .close-btn{
    padding-bottom: 5px;
  }

  .popup{
  font-size: 1rem;
  }
  .popup-inner{
  max-width: 300px;
  max-height: 500px;
  padding-top: 0px;
  }

  .inner-results{
  padding: 5px;

  }
  .inner-results h3{ 
  font-size: 50px;
  top: -150px;
  margin-bottom: -100px;
  }

}

/** APP.JS **/
.gpa_calc_title{
  min-height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
 
}

header {
  min-height: 8vh;
  height: 8vh;
  display: block;
}

/* Form.js */
.lottie-ed{
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: 1;
  margin: auto;
}

.gpa-form {
  background-color:#af020257;
  width: 35rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gpa-form p{
  align-items: center;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form input,
form button, .close-btn {
  padding: 0.4rem;
  font-size: 1.2rem;
  border: none;
  background: white;
  margin-bottom: 5px;
  border-radius: 10px;
}

form input {
  width: 4rem;
  text-align: center;
}

form button, .close-btn {
  margin-top: 1em;
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100px;
  border-color: #ff6f47;
  border-style: solid;
  border-width: 1px;
  
}

form button:hover, .close-btn:hover {
  background: #ff6f47;
  color: white; 
}


/*.close-btn{
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}*/



/** Popup.js **/
.popup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  position:fixed;
  width:100%;
  height:70vh;
  z-index: 10;
  transition: all 0.5s ease;
  margin-top: 10px;
}

.popup-inner{
  border-radius: 10px;
  position: relative;
  max-height: 500px;
  max-width:700px;
  background-color: #ffffff;
  color: rgb(231, 121, 121);
}

.popup-inner p{
  padding: 5px;
  font-size: 15px;
}

/* Results.js */
.results-gpa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  transition: all 0.7s ease;
  z-index: 9;
}

.inner-results{
  position: relative;
  padding: 12px;
  width:100%;
  max-width:500px;
  background-color: #ffffff;
  border-radius: 10%;
  text-align: center;
}

.inner-results p{
  color: rgb(231, 121, 121);
  font-size: 2rem;
}

.inner-results h3{
  position: relative;
  z-index: 9;
  font-size: 200px;
  color: rgb(231, 121, 121);
  top: -325px;
  margin-bottom: -325px;
}

.lottie-confetti{
  align-items: center;
  justify-content: center;
  z-index: 8;
  overflow: hidden;
}

/* Misc */
.close-btn {
  margin-top: 2rem;
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 80px;
  height: 30px;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}


/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

